.heading{
    text-transform: capitalize;
    margin-bottom:50px;
    padding:0 10vw;
}

.product-container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    height:auto;
    grid-row-gap:40px;
}